@font-face {
  font-family: "Helvetica Compressed";
  src: url("/fonts/Helvetica-Compressed-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.rt-TableRootTable {
  width: 100%;
}

.timezoneBox .css-13cymwt-control,
.timezoneBox .css-t3ipsp-control {
  min-height: 44px !important;
  background-color: #f5f5f5 !important;
}

.supportedLanguages .css-1dyz3mf {
  height: 44px;
  overflow-y: auto;
}

.swiper,
.swiper-wrapper {
  max-height: 769px !important;
  height: auto !important;
}

@media (max-width: 957px) {
  .swiper,
  .swiper-wrapper {
    max-height: 639.2px !important;
    height: auto !important;
  }
}

@media (max-width: 744px) {
  .swiper,
  .swiper-wrapper {
    max-height: 1053px !important;
    height: auto !important;
  }
}

@media (max-width: 450px) {
  .swiper,
  .swiper-wrapper {
    max-height: 784.48px !important;
    height: auto !important;
  }
}
